
div#heading {
    background-image: url(images/lake_reflection.jpg) ;
    background-size: cover;
    height: 800px;
    margin-top: -60px;
    margin-left: -10px;
    
    
}

div#heading h1{
    
    color:white;
    text-align: center;
    font-family: "copperplate";
    font-size: 70pt;
    padding-top: 300pt;
    
    
    
}

div#navlinks {
    font-family: "copperplate";
    font-size: 20pt;
    text-align: center;
    color: white;
}


body {
    background: rgb(47, 57, 99);
    margin-top: 0%;
  }

div#about {

    text-align: center;
    color: rgb(169, 178, 216);
    font-family: "copperplate";
    padding-top: 20%;
      
}

div#about h1 {
    padding-bottom: 10%;
}

div#about p {
    
    width: 60%;
    float: center;
    text-align: center;
    padding: 10% 20%;
    

}

div#about img {
    width: 300pt;
    float: center;
    padding 10% 20%;
    
}

  div#portfolio {
      text-align: center;
    color: rgb(169, 178, 216);
    font-family: "copperplate";
    padding-top: 30%;
    
  }

div#social {
    text-align: center;
    color: rgb(169, 178, 216);
    font-family: "copperplate";
    padding-top: 20%;
    padding-bottom: 20%;
    
}

ul {
    list-style-type: none;
}

li {
    padding: 1%;
    font-size: 20pt;
}

